@mixin modal($centerWidth, $windowWidth) {
    @include var(background-color, dark1);
    @include var(color, light1);

    z-index: 1001;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);

    width: 375px;
    max-height: 100%;

    top: 50%;
    transform: translateY(-50%);

    position: fixed;
    overflow: auto;

    @media (min-width: $centerWidth) {
        position: relative;
        max-width: $windowWidth;
        height: auto;
    }
}
