/* The switch - the box around the slider */

.cm-switch-container {
    @include var(border-bottom-style, border-style);
    @include var(border-bottom-width, border-width);
    @include var(border-bottom-color, light2);

    display: block;
    position: relative;
    padding: 10px;
    padding-left: 66px;
    line-height: 20px;
    vertical-align: middle;
    min-height: 40px;

    &:last-child {
        border-bottom: 0;
    }

    &:first-child {
        margin-top: 0;
    }

    p {
        margin-top: 0;
    }
}

.cm-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
}

.cm-list-input:checked + .cm-list-label .slider {
    background-color: #33ba3e;
}

.cm-list-input.half-checked:checked + .cm-list-label .slider {
    @include var(background-color, green1);
    opacity: 0.6;

    &::before {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }
}

.cm-list-input.only-required + .cm-list-label .slider {
    @include var(background-color, green2);
    opacity: 0.8;

    &::before {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }
}

.cm-list-input.required:checked + .cm-list-label .slider {
    @include var(background-color, green2);
    opacity: 0.8;
    cursor: not-allowed;
}

.cm-list-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 50px;
    height: 30px;
}

.cm-list-title {
    font-size: 0.9em;
    font-weight: 600;
}

.cm-list-description {
    @include var(color, dark3);
    font-size: 0.9em;
    padding-top: 4px;
}

.cm-list-label {
    /* The slider */

    .cm-switch {
        position: absolute;
        left: 0;
    }

    .slider {
        background-color: #c9c9c9;
        box-shadow: none;
        position: absolute;
        cursor: pointer;
        top: -5px;
        left: 265px;
        right: 0;
        bottom: 0;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        height: 28px;
        width: 52px;
        display: inline-block;
    }

    .slider::before {
        background-color: #fff;

        position: absolute;
        content: '';
        height: 24px;
        width: 24px;
        left: 2px;
        bottom: 2px;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 30px;
    }

    .slider.round::before {
        border-radius: 50%;
    }

    input:checked + .slider::before {
        -webkit-transform: translateX(24px);
        -ms-transform: translateX(24px);
        transform: translateX(24px);
    }
}

.cm-list-input:checked + .cm-list-label .slider::before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}
